PORT=3000

# JWT SECRET KEYS
JWT_ACCESS_SECRET=your_access_secret_key
JWT_REFRESH_SECRET=your_refresh_secret_key
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Database
SQLITE_PATH=

# For backup and restore
SQLITE_DB_SAVE_AS=your_backup_path_here
SQLITE_DB_URL=your_database_url_here
PUBLIC_ID=your_public_id_here

# Enable watcher for automatic backup and restore
ENABLE_WATCHER=true

# Cloudinary API KEYS
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=