PORT=3000

JWT_ACCESS_SECRET=2889b091528a9582ff605ccda17c1ce7364d46ebc3bf28ffadded5b1e67709233896e1b9c756987b0be53766fb296efbfc64170567384bad8102b6852d78bcac
JWT_REFRESH_SECRET=7dbecefd74a7d91327bd9331d20519a473233eaff8a3b471e053f5bbe8d727bea8a9c44560d3a47fc6f9223664482724a5cecf9348dfb8d266af340834f62d33
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

MONGO_URI=mongodb+srv://lindsey123:YazWkm38GsSPLGnI@cluster0.7hxy7pj.mongodb.net/zhiyuan-backend?retryWrites=true&w=majority&appName=Cluster0

FIRSTNAME=lindsey
LASTNAME=samson
EMAIL=lindseysamson5@gmail.com
PASSWORD=lindseysamson

EMAIL_USER=lindseysamson5@gmail.com
BREVO_API_KEY=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

ORIGINS=http://localhost:5173,http://localhost:5174,http://localhost:8080

URL=https://zhiyuan-distributor.vercel.app

CLOUD_NAME=dm7ujqhka
CLOUD_API_KEY=677531361555291
CLOUD_API_SECRET=fCzMKJNS3wOZttIE7JsFKH3sDr8

REDIS_HOST=redis-12372.c321.us-east-1-2.ec2.cloud.redislabs.com
REDIS_PORT=12372
REDIS_USERNAME=default
REDIS_PASSWORD=1eTtqy4fPBmNOJxl4sNIuxfVkoNh8k1y