PORT=3000

# JWT SECRET KEYS
JWT_ACCESS_SECRET=your_access_secret_key
JWT_REFRESH_SECRET=your_refresh_secret_key
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

MONGO_URI=your_mongodb_uri

# Cloudinary API KEYS
CLOUD_NAME=your_cloudinary_cloud_name_here
CLOUD_API_KEY=your_cloudinary_api_key_here
CLOUD_API_SECRET=your_cloudinary_api_secret_here